:root {    
    --primary-fon-color: #FFFFFF;    
    --secondary-fon-color: #F5F4FA;
    --editionary-fon-color: #2F303A;    
    --primary-text-color:#000000;
    --secondary-text-color: #757575;
    --accent-color:#2196F3; 
}
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {     
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin: 0;
    color: var(--primary-text-color);
    background-color: var(--primary-fon-color);
}
button {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-style: inherit;
    background-color: transparent;
}
a {
    text-decoration: none; 
    color: var(--primary-text-color);
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0px;
    padding: 0px;
    list-style: none;
 }
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;       
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.title {
    /* color: var(--primary-text-color); */   
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
h2, h3 {
    margin: 0px; 
}
p {
    margin: 0px;
}
footer {
    padding-top: 60px;
    padding-bottom: 60px;
    line-height: 1.71;
    color: var(--primary-fon-color);
    background-color: var(--editionary-fon-color);
}
/*header*/

.page-hader{  
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;


}
.nav {
    display: flex;
    align-items: center;
    margin: 0;

    box-sizing: inherit;


}
.site-nav {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}
.logo-top {
    font-family: "Raleway", sans-serif;    
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin-right: 93px;
}
.site-nav-link{
    margin-right: 50px;
}
.current-link {
    color: var(--accent-color);
}
.page-contacts {
    display: flex;    
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.contacts-top-link {
    display: inline-flex;
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text-color);
}
.contacts-top-item:last-child {
    margin-left: 30px;
}
.email-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}
.phone-icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}
.contacts-top-link:hover {
    color: var(--accent-color);
}

/*maine*/
.benefits {
    padding-top: 94px;  
    padding-bottom: 94px;
}
.benefits .title {
   display: none;
   color: aquamarine;
}
.benefits-list {
    display: flex;  
}
.benefits-list-item::before {
    display: block;
    margin-bottom: 30px;
    content: "";
    height: 120px;
    width: 270px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--secondary-fon-color);
}
.antena::before{
    background-image: url(../img/antenna.png);
}
.clock::before{
    background-image: url(../img/clock.png);
}
.diagram::before{
    background-image: url(../img/diagram.png);
}
.astronaut::before{
    background-image: url(../img/astronaut.png);
}
.team-item {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.benefits-list-item:not(:last-child) {
    margin-right: 30px;
}
.offer {
    padding-bottom: 86px;
}
.offer-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    line-height: 1.27;
}
.offer-list {
    display: flex;
    justify-content: space-between;
}
.our-team {
    background-color: var(--secondary-fon-color);    
    padding-top: 84px;
    padding-bottom: 94px;
}
.team .title {
    margin-bottom: 44px;
}
.team-list {
    display: flex;
    justify-content: space-between;
}
.team-list-item {
    background-color: var(--primary-fon-color);
}
.team-list-item-last {
    background-color: var(--primary-fon-color);
}
.team-content{
    font-size: 16px;
    line-height: 1.18;
    color: var(--secondary-text-color);
}
.team-card {
    display: block;
    padding-top: 26px;
    padding-bottom: 30px;
    text-align: center;
}
.team-media-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.team-media {
    width: 20px;
    height: 20px;
}
.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
}
.client-list {
    display: flex;
    justify-content: space-between;
}
.clients-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;
}

/*footer*/

/*.end {
    padding-top: 60px;
    padding-bottom: 60px;
    line-height: 1.71;
    background-color: var(--editionary-fon-color); 
}*/

/*portfolio*/

.visually {
    display: none;
    justify-content: center;
}
.works {
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
    flex-direction: column;
}
.works-button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.works-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.work-list-item {  
    margin-bottom: 28px;
    background: var(--primary-fon-color);
    border: 1px solid #EEEEEE;

}
.work-list-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}
.work-list-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.work-item {
    margin-right: 8px;
}

.work-item:last-child {
    margin-right: 0px;
}
.work-button {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
    background-color: var(--secondary-fon-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.work-card {
    margin-left: 24px;
    padding-top: 12px;
    padding-bottom: 20px;
}
.work-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 4px;
    letter-spacing: 0.06em;
}
.work-list-content{
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
}

.logo-web {
    color: var(--accent-color);
}
.page-contacts .link {
    color: var(--secondary-text-color);
}
.page-contacts .link:hover {
    color: var(--accent-color);
}
.curent-link {
    color: var(--accent-color);
}
.site-nav .link:hover {
    color: var(--accent-color);
}

.hero {

    margin-left: auto;
    margin-right: auto;
    background-color: var(--editionary-fon-color); 
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Фонова\ картинка.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    color: var(--primary-fon-color);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    
}

.hero-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 700px;
    color: var(--primary-fon-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero button {
    background-color: var(--accent-color);
    color: var(--primary-fon-color);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.87;
    width: 200px;
    height: 50px;
    margin-top: 30px;
    border-radius: 4px;
    border: none;
}
/* Button */
.button {
    color: var(--title-text-color);
    background-color: var(--primary-fon-color);
    
}
.work-item:hover  {
    background-color: var(--accent-color);
}
.work-item:hover .work-button {
    color: var(--primary-fon-color);  
}
.section-last {
    background-color: var(--secondary-fon-color);
}
.benefits-item {
    color: var(--secondary-text-color);
}
.footer-conteiner {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
}
.footer-block {
    display: block;
    margin-right: 86px;
}
.logo-footer {
    display: block;
    margin-bottom: 20px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-fon-color);
}
address {
    display: block;
    margin-bottom: 9px;
    font-style: normal;
    text-decoration: none;
}
.item {
    display: block;
    margin-bottom: 9px;
}
.item:last-child {
    margin-bottom: 0px;
}

.link:hover {
    color: var(--accent-color);
}
.join-us {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 16px;
}
.footer-media {
    display: flex;
}
.footer-media-item {
    display: block;
    margin-right: 10px;
}
.footer-media-svg {
    width: 20px;
    height: 20px;
    fill: var(--primary-fon-color);
}
.footer-media-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.footer-media-link:hover{
    background-color: var(--accent-color);
}
.contacts-footer {
    color: rgba(255, 255, 255, 0.6);
}
.footer-media-link {
    background-color: rgba(255, 255, 255, 0.1);
}
.team-media-link{
    /* color: var(--secondary-text-color); */
}
.team-media-link:hover{
    background-color: var(--accent-color);
}
.linkedin{
    background-image: url(../img/instagram.jpg);
}
.twitter{
    background-image: url(../img/twitter.jpg);
}
.facebook{
    background-image: url(../img/facebook.jpg);
}
.instagram{
    background-image: url(../img/instagram.jpg);
}

.team-media:hover {
    fill: var(--primary-fon-color);
}
.team-media {
    fill: #afb1b8;
}
.team-media-link:hover .team-media{
    fill: var(--primary-fon-color);
}
.clients-link:hover {
    fill: var(--accent-color);
}
.clients-link:hover {
    border-color: var(--accent-color);
}
