.offer {
    padding-top: 0px;

    @media screen and (max-width: $desktop-width) {
        visibility: hidden;
        position: absolute;
    }
}

.offer-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    text-align: center;
    letter-spacing: 0.03em;
    line-height: 1.27;
}

.offer-list {
    justify-content: space-between;
    display: flex;

}